target/
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars
*.pem
terraform/salohi-deploy
terraform/salohi-deploy.pub

*.log
.DS_Store
Thumbs.db
