aws_region      = "ap-south-1"
allowed_cidr    = "106.221.190.43/32"
db_password     = "maple123456789"
instance_type   = "m7i-flex.large"
ssh_public_key  = ""
root_volume_gb  = 30
data_volume_gb  = 50
